input {
  width: 100%;
  border: none;
  padding: 10px;
  outline: none;
  display: block;
  font-size: 16px;
  border-radius: 5px;
  border-bottom: 1px solid #ccc;
}
input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
